ZYTEAPI_KEY=<your-zyte-api-key>
SERPAPI_KEY=<your-serpapi-key>
OPENAIAPI_KEY=<your-openai-api-key>
DATAFORSEO_USER=<your-dataforseo-username>
DATAFORSEO_PWD=<your-dataforseo-password>

# Redis cache 
FRAUDCRAWLER_USE_CACHE=false
REDIS_URL=redis://localhost:6379/0
REDIS_TTL=300
REDIS_NAMESPACE=fraudcrawler
REDIS_LEASE=2