# API Keys
SERPAPI_KEY=your_serpapi_key
ZYTEAPI_KEY=your_zyte_key
OPENAIAPI_KEY=your_openai_key
DATAFORSEO_USER=your_user
DATAFORSEO_PWD=your_pwd
PYPY_TOKEN=your_pypy_token

# Redis Cache
REDIS_USE_CACHE=true
REDIS_URL=redis://localhost:6379/0
REDIS_CACHE_TTL=86400 #24h
