ZYTEAPI_KEY=<your-zyte-api-key>
SERPAPI_KEY=<your-serpapi-key>
OPENAIAPI_KEY=<your-openai-api-key>
DATAFORSEO_USER=<your-dataforseo-username>
DATAFORSEO_PWD=<your-dataforseo-password>
REDIS_USE_CACHE=<true/false>
# Optional (fallbacks are defined in @fraudcrawler/settings.py)
REDIS_HOSTNAME=<redis-hostname>
REDIS_PORT=<redis-port>